/* @tailwind base; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 0, 0;
  --text-color-rgb: 255, 255, 255;
  --input-background-rgb: 255, 255, 255;
  --button-background-rgb: 255, 255, 255;
  --button-text-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--text-color-rgb));
  background: rgb(var(--background-rgb));
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--text-color-rgb));
}

input {
  background: rgb(var(--input-background-rgb));
  color: rgb(var(--foreground-rgb));
}

input:focus {
  outline: none;
  border-color: #888; /* Light gray border color */
  box-shadow: 0 0 0 2px #888; /* Light gray box shadow */
}

input:disabled {
  background-color: #333; /* Muted dark gray background for disabled inputs */
  color: #777; /* Muted gray text color for disabled inputs */
}

button {
  background: rgb(var(--button-background-rgb));
  color: rgb(var(--button-text-rgb));
}

